<h1>{{ i18n "menu.gifts" }}</h1>
<div class="main-text centered">
    {{ .Params.mainText1 | markdownify }}
    <p>
        {{ .Params.mainText2 }}
        <img
        src="{{ relURL "assets/emojis/heart.svg" }}"
        alt="activity-icon"
        class="emoji">
    </p>
</div>
<div class="bank-details">
    <h4 class="centered">{{ .Params.bankDetailsTitle }}</h4>
    <div class="bank-details-container">
        <div class="bank-method">
            <div class="title centered">{{ .Params.bankTransfer }}</div>
            <div class="details-grid">
                <div class="label">{{ .Params.accountName }}</div>
                <div class="value">DAVIDE MARCHEGIANI AND JENNIFER RIVERA-GONZALEZ</div>
                <div class="label">BSB:</div>
                <div class="value">062692</div>
                <div class="label">{{ .Params.accountNumber }}</div>
                <div class="value">81587965</div>
                <div class="label">
                    SWIFT / BIC:
                    <span class="smaller-text">
                        {{ .Params.nonAustralianBanks }}
                    </span>
                </div>
                <div class="value">CTBAAU2S</div>
            </div>
        </div>
        <div class="bank-method">
            <div class="title centered">Wise</div>
            <div class="qr-code">
                <img src="{{ relURL "assets/gifts/wise_qrcode.png" }}" alt="qr-code-wise">
            </div>
        </div>
        <div class="bank-method">
            <div class="title centered">PayPal</div>
            <div class="qr-code">
                <img src="{{ relURL "assets/gifts/paypal_qrcode.png" }}" alt="qr-code-paypal">
            </div>
        </div>
    </div>
</div>