<h1>{{ i18n "global.rsvp" }}</h1>
<div id="rsvp-section">
    <h5>
        {{ .Params.instructions | markdownify }}
    </h5>
    <div id="page-loader" class="d-none">
        <div class="loader-inner centered">
        <div class="spinner-border" role="status"></div>
        <p class="mt-3">{{ .Params.loading }}</p>
        </div>
    </div>
    <div id="password-input" class="d-none">
        <label class="form-label">{{ .Params.passwordLabel | markdownify }}</label>
        <input type="text" id="rsvp-password" class="form-control mb-3" value="FZF5UU">
        <button class="button" id="load-rsvp">{{ i18n "rsvp.continue" }}</button>
        <div class="status-text"></div>
    </div>
    <form id="rsvp-form" class="d-none">
        <div id="guests-container"></div>
        <button type="submit" class="button mt-4" id="submit-rsvp">{{ i18n "rsvp.submit" }}</button>
        <div class="status-text"></div>
    </form>
</div>
<h5>{{ .Params.contact }} <a href="{{ relLangURL "faq#contacts" }}">{{ i18n "global.contactUs" }}</a>!</h5>