{{ define "head" }}
<link rel="stylesheet" href="{{ "css/home.css" | relURL }}">
{{ end }}

{{ define "main" }}
<div class="background-image"></div>

<div class="language-buttons d-flex flex-wrap gap-2">
  {{ $flags := .Site.Params.flags }}
  {{ range .Site.Languages }}
    <a href="{{ printf "/%s/main/" .Lang }}"
       class="btn btn-primary flex-fill flex-sm-grow-0 text-center fs-2 text-shadow">
      {{ index $flags .Lang }} {{ .LanguageName }}
    </a>
  {{ end }}
</div>


<h1 class="main-title text-shadow">
    {{ .Site.Title }}
</h1>

<h2 class="main-title text-shadow">
    {{ .Site.Params.date }}
</h2>
{{ end }}
