{{ define "head" }}
<link rel="stylesheet" href="{{ relURL "css/home.css" }}">
{{ end }}

{{ define "main" }}
<div class="hero">
    <div class="background-image"></div>
    <div class="language-buttons">
        {{ range .Site.Languages }}
        <a 
        href="{{ printf "%s/main/" .Lang | relURL }}"
        class="button centered">
            <img 
            src="{{ printf "assets/emojis/flag_%s.svg" .Lang | relURL}}"
            alt="flag-icon"
            class="emoji">
            {{ .LanguageName }}
        </a>
        {{ end }}  
    </div>

    <h1 class="text-shadow centered">
        {{ $words := split .Site.Title " " }}
        {{ range $words }}
            <span>{{ . }}</span>
        {{ end }}
    </h1>

    <h2 class="text-shadow centered">
        {{ .Site.Params.date }}
    </h2>
</div>
{{ end }}