{{ define "head" }}
<link rel="stylesheet" href="{{ relURL "css/home.css" }}">
{{ end }}

{{ define "main" }}
<div class="background-image"></div>

<div class="language-buttons">
    {{ range .Site.Languages }}
    <a 
    href="{{ printf "%s/main/" .Lang | relURL }}"
    class="button flex-fill flex-sm-grow-0 centered">
        <img 
        src="{{ printf "assets/emojis/flag_%s.svg" .Lang | relURL}}"
        alt="flag-icon"
        class="emoji">
        {{ .LanguageName }}
    </a>
    {{ end }}  
</div>


<h1 class="main-title text-shadow">
    {{ .Site.Title }}
</h1>

<h2 class="main-title text-shadow">
    {{ .Site.Params.date }}
</h2>
{{ end }}
