{{ define "head" }}
    <link rel="stylesheet" href="{{ "css/topbanner.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/footer.css" | relURL }}">
    {{/* Page-specific CSS, shared across languages */}}
    {{ if .IsPage }}
        {{ $name := .File.BaseFileName }}
        {{ $cssPath := printf "css/%s.css" $name }}

        {{ if fileExists (printf "static/%s" $cssPath) }}
            <link rel="stylesheet" href="/{{ $cssPath }}">
        {{ end }}
    {{ end }}
{{ end }}

{{ define "scripts" }}
    {{/* Page-specific JS, shared across languages */}}
    {{ if .IsPage }}
        {{ $name := .File.BaseFileName }}
        {{ $jsPath := printf "js/%s.js" $name }}
        {{ $outName := printf "%s.%s.js" $name .Lang }}
        
        {{ with resources.Get $jsPath }}
          {{ $js := . | resources.ExecuteAsTemplate $outName . }}
          <script src="{{ $js.RelPermalink }}"></script>
        {{ end }}
    {{ end }}
{{ end }}


{{ define "main" }}
    {{ partial "topbanner.html" . }}
    <h1>{{ .Title }}</h1>
    <div class="page-content page-margins">
        {{ .Content }}
    </div>
    {{ partial "footer.html" . }}
{{ end }}