footer {
    min-height: 300px;
    background-image: url('/assets/ring.jpeg');
    background-size: cover;
    background-position: calc(50% + 20px) calc(50% + 15px);
    background-repeat: no-repeat;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.footer-content {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.footer-text {
    text-align: center;
    color: white;
}

.footer-text p {
    font-size: 3rem;
    font-weight: 300;
}

.footer-button {
    font-size: 3rem;
}