.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                url('../assets/background.jpeg') center/cover no-repeat;
    z-index: -1;
}

.language-buttons {
  position: relative;
  margin: 0.5em auto;
  top: 5vh;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}