:root {
    --primary-color: #007bff;
}

h1,h2 {
    top: 30vh;
    margin: 0.5em auto;
    text-align: center;
    color: white;
    position: relative;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 80px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/background.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.language-buttons {
  position: relative;
  margin: 0.5em auto;
  top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  height: 5em;

  /* flex-grow: 1 1; */
}

.button {
    background-color: var(--primary-color);
    font-size: 2.5em;
    border: none;
    padding: 0.3em;
    text-decoration: none;
    text-align: center;
}

.rounded-borders {
    border-radius: 10px;
}