.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                url('../assets/background.jpeg') center/cover no-repeat;
    z-index: -1;
}

.language-buttons {
    position: relative;
    top: 5vh;
    margin: 0.5em auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.language-buttons > .button {
    font-size: 2em;
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.2em ;
}

.language-buttons .emoji {
    width: 1.5em;
    height: 1.5em;
}