:root {
    --primary-color: #007bff;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/background.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.language-buttons {
  position: relative;
  margin: 0.5em auto;
  top: 5vh;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}