.container {
    padding-top: 0;
}

section {
    position: relative;
    width: 100vw;
    height: clamp(50vh, 75vh, 100vh);
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 2rem 10rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

/* Landing Section */
section.main-section {
    height: 100vh;
    margin-top: -5rem; /* Adjust for top banner height */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                url('../assets/background.jpeg') center/cover no-repeat;
    overflow: hidden;
    z-index: 0;
    top: 0;
}

.main-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.info-box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.info-label {
    margin-bottom: 0.25rem;
    font-size: 2rem;
}

.info-value {
    font-size: 2rem;
}

.section-image {
    flex: 1;
    height: 100%;
}

.section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Reverse layout */
section:is(:nth-child(odd)) .section-image {
    order: 1;
}

.section-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

section a {
    font-size: 1.2em;
}

.section-content > h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5em;
}
.section-content > h3 {
    font-size: 2.5rem;
}

#maps-preview {
    width: 80%;
    margin-bottom: 1em;
}
