.timeline {
    position: relative;
    margin: 2rem auto;
    padding: 1rem 0;
}

/* Timeline line */
.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: var(--color-green);
    transform: translateX(-50%);
}

.timeline-event {
    margin-bottom: 2rem;
    width: 100%;
    height: 70vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 8rem;
}

.timeline-event > * {
    height: 100%;
    flex: 1;
    display: flex;
}

/* Timeline dot */
.timeline-event::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1.7em;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: solid 4px var(--color-green);
    border-radius: 50%;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2.5em;
    background-size: contain;
    background-size: 80%;
}

.event-text {
    flex-direction: column;
    justify-content: center;
    text-align: right;
    gap: 0.5rem;
}

.event-text > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.event-date {
    font-size: 2rem;
    color: var(--color-green);
    font-weight: 600;
    justify-content: flex-end;
}

.event-title {
    font-size: 2rem;
    justify-content: flex-start;
}

.event-image {
    align-items: center;
    justify-content: flex-start;
}

.event-image img {
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.375rem 1.125rem rgba(0,0,0,0.3);
}

/* Alternate layout */
.reverse {
    flex-direction: row-reverse;
}
.reverse > .event-text  {
    text-align: left;
}
.reverse > .event-image  {
    justify-content: flex-end;
}

/* alternarive layout for landscape-format image */
.timeline-event:nth-child(2) img,
.timeline-event:nth-child(6) img {
    width: 100%;
    height: auto;
}

/* Emojis for timeline dots */
#meeting.timeline-event::after {
    background-image: url('../assets/emojis/story/meeting.svg');
}
#friends.timeline-event::after {
    background-image: url('../assets/emojis/story/friends.svg');
}
#relationship.timeline-event::after {
    background-image: url('../assets/emojis/story/relationship.svg');
}
#house.timeline-event::after {
    background-image: url('../assets/emojis/story/house.svg');
}
#colombia.timeline-event::after {
    background-image: url('../assets/emojis/flag_es.svg');
}
#engagement.timeline-event::after {
    background-image: url('../assets/emojis/story/ring.svg');
}
#wedding.timeline-event::after {
    background-image: url('../assets/emojis/story/wedding.svg');
}
#party.timeline-event::after {
    background-image: url('../assets/emojis/story/party.svg');
}