/* :root {
    --primary-color: #8b6f5a;
    --secondary-color: #e7edf1;
    --text-color: #3a3a3a;
    --accent-color: #c1a58a;
} */

/* Smooth animation when transitioning to new pages */
@view-transition {
    navigation: auto;
}

html {
  scroll-behavior: smooth;
}

h1, h5 {
    text-align: center;
    margin-bottom: 1em;
}

.main-title {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    width: max-content;
}

h1.main-title {
    top: 40vh;
    font-size: 8rem;
}

h2.main-title {
    top: 58vh;
    font-size: 4rem;
}

.main-title {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    width: max-content;
}

.page-margins {
  margin: 0 3rem 3rem;
}

.page-content {
  line-height: 1.5;
}

/* RSVP BUTTON */
.rsvp-btn {
  padding: 0.375rem 0.75rem;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 0.25em;
  font-weight: 500;
  line-height: 1.9;
}

.rsvp-btn:hover {
  background: #333;
  text-decoration: none;
}

.text-shadow {
    text-shadow: 0.02em 0.02em calc(4px + 0.08em) rgba(0, 0, 0, 0.7);
}

strong {
    font-weight: 600;
}

.container {
    padding-top: 3rem;
}