:root {
  --primary-colour: rgb(255, 255, 255); 
}

html {
  scroll-behavior: smooth;
}

.page-margins {
  margin: 0 3rem 3rem;
}

.page-content {
  line-height: 1.5;
}

/* RSVP BUTTON */
.rsvp-btn {
  padding: 0.375rem 0.75rem;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 0.25em;
  font-weight: 500;
  line-height: 1.9;
}

.rsvp-btn:hover {
  background: #333;
}

.with-text-shadow {
    text-shadow: 0.02em 0.02em calc(4px + 0.08em) rgba(0, 0, 0, 0.7);
}