.top-banner {
    height: var(--banner-height);
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: var(--color-green);
    padding: 0.5rem 1rem;
}

.top-banner a {
    text-decoration: none;
    color: var(--color-white);
}
.top-banner a:hover,
.top-banner a:focus {
    color: var(--color-white);
    filter: brightness(0.93);
}

.container-fluid {
    height: 100%;
    gap: 1rem;
}

/* MENU */
.banner-menu {
    align-items: center;
    gap: 0 0.5rem;
}

.banner-menu > ul {
    gap: 0.5rem 1rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.banner-menu a {
    font-weight: 500;
}

/* TITLE */
.banner-title {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.language-switcher .dropdown-menu {
    min-width: auto;
    background-color: var(--color-bg);
    border-color: var(--button-bg);
}

.language-switcher > .dropdown,
.rsvp-button {
    display: flex;
    align-items: center;
}

.language-switcher .emoji {
    width: 1.5em;
    height: 1.5em;
}

.dropdown-item,
.dropdown > button {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.language-switcher .dropdown-item {
  color: var(--color-text);
}

.language-switcher .dropdown-item:hover,
.language-switcher .dropdown-item:focus,
.language-switcher .dropdown-item:active {
    color: var(--color-text);
    background-color: color-mix(in srgb, var(--color-bg) 99%, black 1%);
}

/* Burger menu slider */
.offcanvas.offcanvas-end {
    background-color: var(--color-bg);
    width: 60dvw;
}

h5.offcanvas-title {
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--color-white);
}

/* Close button within burger menu */
.offcanvas-header .btn-close {
    filter: var(--filter-black-to-white);
}

/* Burger icon */
.navbar-toggler {
    border-color: var(--border-color);
}
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
    filter: brightness(0.93);
}
.navbar-toggler-icon {
    filter: var(--filter-black-to-blue);
}

.banner-title.collapsed {
    font-size: 3.5rem;
    display: none;
}

/* When the banner is not collapsed, show RSVP button last */
@media (min-width: 992px) {
  .rsvp-button {
    order: 99;
  }
}

/* When the banner is collapsed, make title occupy as much space as possible */
@media (max-width: 992px) {
    :root {
        --banner-height: 8rem;
    }

    .banner-title {
        flex-grow: 1;
    }
    .banner-menu a {
        text-decoration: none;
        color: var(--color-text);
    }
    .banner-menu a:hover,
    .banner-menu a:focus {
        color: var(--link-hover-color);
    }
    .banner-menu > ul {
        align-items: start;
        text-align: left;
    }
    .language-switcher {
        margin-top: 1rem;
    }
    .banner-title.collapsed {
        display: block;
    }
    .banner-title:not(.collapsed) {
        display: none;
    }

    .top-banner a {
        font-size: 1.8rem;
    }
    .top-banner .offcanvas a {
        font-size: 2.5rem;
    }

    .navbar-toggler {
        height: 4.25rem;
    }
    .navbar-toggler-icon {
        width: 3rem;
    }
    
    .offcanbas-body .nav-link {
        font-size: 3rem;
    }

    .language-switcher button {
        font-size: 2.5rem;
    }
}