.top-banner {
  width: 100%;
  height: 5rem;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: sticky;
  background: var(--color-white);
  z-index: 100;
}

/* LEFT MENU */
.banner-menu ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-menu li {
    display: flex;
}

.banner-menu a {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text);
}

.banner-menu a:hover {
  color: var(--link-hover-color);
}

/* TITLE */
.banner-title {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--heading-color);
}
.banner-title a {
  text-decoration: none;
  color: inherit;
}

/* RIGHT ACTIONS */
.banner-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
}

/* language switcher */
.language-switcher {
    height: 100%;
}

.language-switcher .dropdown-menu {
    min-width: auto;
}

.language-switcher > .dropdown,
.rsvp-button {
    display: flex;
    align-items: center;
    height: 100%;
}

.language-switcher > .dropdown > button ,
.rsvp-button > a {
    height: 80%;
}

.language-switcher .emoji {
    width: 1.5em;
    height: 1.5em;
}

.dropdown-item,
.dropdown > button {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.language-switcher .btn-secondary {
  background: var(--button-bg);
  border-color: var(--button-bg);
  color: var(--button-text);
}

.language-switcher .btn-secondary:hover,
.language-switcher .btn-secondary:focus,
.language-switcher .btn-secondary:active {
  background: var(--button-hover-bg);
  border-color: var(--button-hover-bg);
  color: var(--button-text);
}

.language-switcher .dropdown-item {
  color: var(--color-text);
}

.language-switcher .dropdown-item:hover {
  background: var(--color-blue-100);
  color: var(--link-hover-color);
}

