.top-banner {
  width: 100%;
  height: 5rem;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: sticky;
  background: var(--primary-colour);
}

/* LEFT MENU */
.banner-menu ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-menu li {
    display: flex;
}

.banner-menu a {
  text-decoration: none;
  font-weight: 500;
  color: #444;
  text-align: center;
}

.banner-menu a:hover {
  color: #000;
}

/* CENTER TITLE */
.banner-title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #222;
}
.banner-title a {
  text-decoration: none;
  color: inherit;
}

/* RIGHT ACTIONS */
.banner-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
}

/* language switcher */
.language-switcher {
    height: 100%;
}

.language-switcher .dropdown-menu {
    min-width: auto;
}

.language-switcher > .dropdown,
.rsvp-button {
    display: flex;
    align-items: center;
    height: 100%;
}

.language-switcher > .dropdown > button ,
.rsvp-button > a {
    height: 80%;
}

