.section {
    margin: 3rem 0;
}

.subsection {
    background: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.section a {
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.subsection-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
}

.subsection-title img {
  width: 1.2em;
}